
.lasagna {
    background-color: rgb(182, 240, 89);
    width: fit-content;
    color: green;
    font-weight: bold;
}

.h1 {
    color: purple;
    background-color: rgb(240, 9, 9);
}

.ul {
    color: green;
}